#app-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counter {
    font-size: 70pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#buttons form
{
    display: inline;
}

#buttons input
{
    font-size: xxx-large;
    width: 100px;
}

#buttons button
{
    font-size: xxx-large;
    border: 0px;
}
